@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 0 0% 3.9%;
        --primary: 260 100% 70%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --tertiary: 0 0% 9.9%;
        --tertiary-foreground: 0 0% 98%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --radius: 0.5rem;
        --border-width: 5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --primary: 220 100% 75%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 7.9%;
        --secondary-foreground: 0 0% 98%;
        --tertiary: 0 0% 12.9%;
        --tertiary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
    }
}

.hljs {
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #FFFFFF09 !important;
    /* background: #3c0878 !important; 
    background-image: radial-gradient(at 23.0% 58.0%, #000000 0px, transparent 50%),radial-gradient(at 92.0% 46.0%, #030203 0px, transparent 50%),radial-gradient(at 23.0% 14.0%, #000000 0px, transparent 50%),radial-gradient(at 47.0% 80.0%, #0d0d0d 0px, transparent 50%),radial-gradient(at 9.8% 44.9%, #000000 0px, transparent 50%) !important; */
}


@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #ffffff00;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #ffffff00;
        border-radius: 100vh;
        border: 3px solid #ffffff00;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #ffffff00;
    }
}

.chat-page {
    background: #199e9a; background-image: radial-gradient(at 13.0% 49.0%, hsl(313, 72%, 29%) 0px, transparent 50%),radial-gradient(at 95.0% 67.0%, hsl(212, 45%, 82%) 0px, transparent 50%),radial-gradient(at 80.0% 73.0%, hsl(254, 71%, 36%) 0px, transparent 50%),radial-gradient(at 62.0% 89.0%, hsl(307, 34%, 52%) 0px, transparent 50%),radial-gradient(at 93.0% 10.0%, hsl(299, 92%, 60%) 0px, transparent 50%);
    background: #4ae8eb; background-image: radial-gradient(at 91.0% 98.0%, hsl(196, 29%, 33%) 0px, transparent 50%),radial-gradient(at 91.0% 81.0%, hsl(140, 66%, 66%) 0px, transparent 50%),radial-gradient(at 33.0% 40.0%, hsl(165, 69%, 25%) 0px, transparent 50%),radial-gradient(at 44.0% 86.0%, hsl(354, 100%, 36%) 0px, transparent 50%),radial-gradient(at 96.0% 33.0%, hsl(51, 66%, 70%) 0px, transparent 50%);
    background: #572a51; background-image: radial-gradient(at 70.0% 15.0%, hsl(279, 96%, 40%) 0px, transparent 50%),radial-gradient(at 31.0% 63.0%, hsl(281, 61%, 36%) 0px, transparent 50%),radial-gradient(at 15.0% 20.0%, hsl(287, 48%, 60%) 0px, transparent 50%),radial-gradient(at 59.0% 16.0%, hsl(25, 11%, 62%) 0px, transparent 50%),radial-gradient(at 63.0% 49.0%, hsl(169, 52%, 54%) 0px, transparent 50%);
    background: #fe87fc; background-image: radial-gradient(at 28.0% 54.0%, hsl(270, 64%, 21%) 0px, transparent 50%),radial-gradient(at 56.0% 49.0%, hsl(255, 96%, 62%) 0px, transparent 50%),radial-gradient(at 58.0% 60.0%, hsl(22, 70%, 54%) 0px, transparent 50%),radial-gradient(at 48.0% 58.0%, hsl(152, 79%, 36%) 0px, transparent 50%),radial-gradient(at 31.0% 87.0%, hsl(298, 89%, 50%) 0px, transparent 50%);
    background: #12e4ec; background-image: radial-gradient(at 14.0% 97.0%, hsl(181, 88%, 36%) 0px, transparent 50%),radial-gradient(at 38.0% 64.0%, hsl(196, 60%, 52%) 0px, transparent 50%),radial-gradient(at 85.0% 22.0%, hsl(181, 94%, 60%) 0px, transparent 50%),radial-gradient(at 49.0% 63.0%, hsl(239, 61%, 55%) 0px, transparent 50%),radial-gradient(at 2.0% 64.0%, hsl(238, 97%, 47%) 0px, transparent 50%);
    background: #7e1d93; background-image: radial-gradient(at 49.0% 89.0%, hsl(358, 97%, 22%) 0px, transparent 50%),radial-gradient(at 67.0% 14.0%, hsl(5, 88%, 43%) 0px, transparent 50%),radial-gradient(at 61.0% 61.0%, hsl(124, 38%, 75%) 0px, transparent 50%),radial-gradient(at 60.0% 89.0%, hsl(254, 71%, 37%) 0px, transparent 50%),radial-gradient(at 15.0% 8.0%, hsl(169, 95%, 92%) 0px, transparent 50%);
    background: #3c0878; background-image: radial-gradient(at 23.0% 58.0%, #000000 0px, transparent 50%),radial-gradient(at 92.0% 46.0%, #030203 0px, transparent 50%),radial-gradient(at 23.0% 14.0%, #000000 0px, transparent 50%),radial-gradient(at 47.0% 80.0%, #0d0d0d 0px, transparent 50%),radial-gradient(at 9.8% 44.9%, #000000 0px, transparent 50%);
}
